*{
    margin: 0; (the space outside something);
    padding: 0; (the space inside something);
}

.container{
    height: 100vh; (specifies the height of an image);
    width: 100%; (specifies the width of the element);
    background-image: url(images/actual\ background\ for\ website.png); (graphics applied to the background);
    background-position: center; (position applied to the background image);
    background-size: cover; (size applied to the background image);
    padding-left: 5%; (the space inside something);
    padding-right: 5%; (the space inside something);
    box-sizing: border-box; (controls how an element's total width and height are calculated);
    position: relative; (identifies the position of a item);
}

.navbar{
  width: 100%; (specifies the width of the element);
  height: 15vh; (specifies the height of an image);
  margin: auto; (the space outside something);
  display: flex; (how an element is shown on a web page);
  align-items: center; (specifies the default alignment for items);
}

.logo{
  width: 160px; (specifies the width of the element);
  cursor: pointer; (the pointer that indicates your position on the screen);
}

.leaf{
  width: 40px; (specifies the width of the element);
  cursor: pointer; (the pointer that indicates your position on the screen);
}

nav{
  flex: 1; (expands items);
  padding-left: 60px; (the space inside something);
}

nav ul li{
  display: inline-block; (how an element is shown on a web page);
  list-style: none; (the appearance of bullets or numbering lists);
  margin: 0px 20px; (the space outside something);
}

nav ul li a{
  text-decoration: none; (decorative effects applied to text);
  color: #333; (black colour);
}

.content h1{
  font-size: 100px; (the size of the text);
  font-weight: 100; (controls the boldness or lightness of text);
  margin-top: 24px; (the space outside something);
  margin-bottom: 15px;
  color: #C6E2FF;
}

.content p{
  font-size: 60px; (the size of the text);
  color: #bee893;
}

.content{
  margin-left: 10%; (the space outside something);
  margin-top: 10%; (the space outside something);
}

.content .button{
  display: inline-block; (how an element is shown on a web page);
  background: linear-gradient(45deg, #fdc0c7, #f8f4c7);
  border-radius: 6px; (radius of the border);
  padding: 10px 20px; (the space inside something);
  box-sizing: border-box; (controls how an element's total width and height are calculated);
  text-decoration: none; (decorative effects applied to text);
  color: #fff; (colour black);
  box-shadow: 3px 8px 22px rgba(94,28,68,0.15); (shadow of the box);
}

.feature-img{
  height: 90%; (specifies the height of an image);
  position: absolute; (identifies the position of a item);
  bottom: 0; (margin on the bottom);
  right: 160px; (margin on the right);
}

.social-links{
  transform: rotate(-90deg);
  position: absolute; (identifies the position of a item);
  left: -80px; (margin on the left);
  bottom: 180px; (margin on the bottom);
}

.social-links a{
  text-decoration: none; (decorative effects applied to text);
  color: #6a7199; (colour grey)
  padding-right: 20px; (the space inside something);
  font-size: 15px; (the size of the text);

}
