*{
    margin: 0; (the space outside something);
    padding: 0; (the space inside something);
}

.container{
    height: 100vh; (specifies the height of an image);
    width: 100%; (specifies the width of the element);
    background-image: url(images/background.jpg); (graphics applied to the background);
    background-position: center; (position applied to the background image);
    background-size: cover; (size applied to the background image);
    padding-left: 5%; (the space inside something);
    padding-right: 5%; (the space inside something);
    box-sizing: border-box; (controls how an element's total width and height are calculated);
    position: relative; (identifies the position of a item);
}

.navbar{
  width: 100%; (specifies the width of the element);
  height: 15vh; (specifies the height of an image);
  margin: auto; (the space outside something);
  display: flex; (how an element is shown on a web page);
  align-items: center; (specifies the default alignment for items);
}

.logo{
  width: 160px; (specifies the width of the element);
  cursor: pointer; (the pointer that indicates your position on the screen);
}

.cart{
  width: 40px; (specifies the width of the element);
  cursor: pointer; (the pointer that indicates your position on the screen);
}

nav{
  flex: 1; (expands items);
  padding-left: 60px; (the space inside something);
}

nav ul li{
  display: inline-block; (how an element is shown on a web page);
  list-style: none; (the appearance of bullets or numbering lists);
  margin: 0px 20px; (the space outside something);
}

nav ul li a{
  text-decoration: none; (decorative effects applied to text);
  color: #333; (black colour);
}

.movie{
    width: 400px; (specifies the width of the element);
    height: 225px; (specifies the height of an image);
    
